
    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <div class="container">
                <a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>Admin</a>
                <a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>Domare</a>
                <a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>Tävlande</a>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
    </div>