<div id="modal-userlist" class="modal modal-small">
    <!--<input type="hidden" name="return-url" value="">-->
    <div class="modal-content">
        <h4>Lägg till <span id="usertitle"></span></h4>
        <p></p>

        <div class="input-field">
            <input type="text" name="search" class="searchbox" data-filter="#userlist" autocomplete="off">
            <label style="left: 0;" for="search">Sök</label>
        </div>
        <div class="input-field">
            <!--<input type="hidden" value="" name="new-series-id" id="new-series-id">
            <input type="hidden" value="" name="new-series-name" id="new-series-name">-->
            <ul id="userlist" class="collection"></ul>
        </div>
    </div>
    <div class="modal-footer">
        <button id="btn-add-user" name="add-user" class="waves-effect waves-green btn green">Lägg till</button>
    </div>
</div>