<!DOCTYPE html>
<html style="height: 100%">

<head>
    <title>Fancy Diving</title>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Material+Icons|Roboto+Slab:100,300|Roboto:100,200,400,300,700|Open+Sans:400,300|Lobster|Roboto+Mono:400,400italic,500,500italic,700,700italic" rel="stylesheet" />
    <link rel="stylesheet" href="stylesheets/style.css" />
</head>

<body class="blue white-text" style="height: 100%">
<div class="valign-wrapper center-align" style="height: 100%">
  <div class="valign" style="margin: 0 auto;">
	  <h1><%=status %>.</h1>
	  <p><%=message %></p>
  </div>
</div>
</body>
</html>