<div class="card">
    <div class="card-content">

        <a class="btn-floating btn-large waves-effect waves-light green" id="up1" style="
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
">
            <i class="material-icons">add</i>
        </a>
        <a class="btn-floating btn-large waves-effect waves-light green lighten-2" id="up05" style="border-bottom-left-radius: 0;
    border-top-left-radius: 0;">
            <i class="material-icons">add</i>
        </a>

        <p id="points">0.0</p>

        <a class="btn-floating btn-large waves-effect waves-light red" id="down1" style="
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
">
            <i class="material-icons">remove</i>
        </a>
        <a class="btn-floating btn-large waves-effect waves-light red lighten-2" id="down05" style="border-bottom-left-radius: 0;
    border-top-left-radius: 0;">
            <i class="material-icons">remove</i>
        </a>
    </div>
</div>