<div class="card">
    <div class="card-content">
        <div class="progress blue lighten-5" style="width: 70%; margin:0 auto;" id="judgeWaiting">
            <div class="indeterminate blue"></div>
        </div>
    </div>
</div>